# Exclude project specific files

.idea/*

# File-based project format
*.iws
*.iml

# IntelliJ
out/
target/

# mpeltonen/sbt-idea plugin
.idea_modules/

# CI/CD
/conf

# ignore logs
/logs

# docker
docker/data
