version: "3.2"
services:
  # broker
  redis:
    image: redis:${REDIS_TAG}
    sysctls:
      net.core.somaxconn: 1024
    restart: always  
    container_name: redis
    ports:
      - "6479:6379"
    volumes:
      - ./tmp/data/redis:/data/:rw
    networks:
      - slotex-nlp-network
  # mongodb
  mongodb:
    image: mongo:${MONGO_TAG}
    restart: always  
    container_name: mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=admin
      - MONGO_DATABASE=slotex_nlp
      - MONGO_PASSWORD=toor123
      - MONGO_USERNAME=admin
    ports:
      - "28017:27017"
    volumes:
      - ./tmp/data/mongo:/data/db:rw
      - ./docker/mongodb/scripts/:/docker-entrypoint-initdb.d/:rw
    networks:
      - slotex-nlp-network
  # NLP
  slotex-nlp-core:
    image: pkpslotex/slotex-nlp-core:${SLOTEX_NLP_CORE_TAG}
    restart: always
    container_name: slotex-nlp-core
    ports:
      - "8100:8100"
    environment:
      - MONGODB_AUTHENTICATION=slotex_nlp
      - MONGODB_USERNAME=admin
      - MONGODB_PASSWORD=toor123
      - MONGODB_DATABASE=slotex_nlp
      - MONGODB_PORT=27017
      - MONGODB_HOST=mongodb
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - ./docker/application.properties.tmpl:/conf/application.properties.tmpl:ro
      - ./tmp/data/slotex-nlp-core:/var/data:rw
    networks:
      - slotex-nlp-network
    depends_on:
      - redis
      - mongodb
    links:
      - redis
      - mongodb
# volumes
volumes:
  mongodb_data:
  redis_data:
  mediusnlp_data:
# networks
networks:
  slotex-nlp-network:
    driver: bridge
