# MongoDB config
spring.data.mongodb.authentication-database=${MONGODB_AUTHENTICATION_DATABASE}
spring.data.mongodb.username=${MONGODB_USERNAME}
spring.data.mongodb.password=${MONGODB_PASSWORD}
spring.data.mongodb.database=${MONGODB_DATABASE}
spring.data.mongodb.port=${MONGODB_PORT}
spring.data.mongodb.host=${MONGODB_HOST}

# Redis config
spring.data.redis.host=${REDIS_HOST}
spring.data.redis.port=${REDIS_PORT}

# App config
server.port=8100
spring.application.name=SloTex NLP Core

# Logging
logging.level.root= INFO
logging.file=./logs/slotex-nlp-core.log

# Files
file.uploadDir=/var/data/uploaded
file.data=/var/data/OpenNLP
file.data.dictionary=/var/data/dict
file.data.train.ner=/var/data/ner
file.models=/var/data/models
file.models.backup=/var/data/models/backup

# StartUp
init.tag.model=false

# Actuator
# Use "*" to expose all endpoints
management.endpoint.health.show-details=always
management.endpoints.web.exposure.include=health,info
management.endpoints.web.base-path=/manage
management.info.git.mode=full
# management.health.mongo.enabled=false
# management.health.redis.enabled=false

# Data for /info endpoint
info.app.name=Spring Boot SloTex NLP Microservice
info.app.description=This application enables our logic for the SloTex NLP framework.

info.build.groupId=@project.groupId@
info.build.artifactId=@project.artifactId@
info.build.name=@project.name@
info.build.version=@project.version@
info.build.url=@project.url@

# info.env.java.vendor=${java.specification.vendor}
# info.env.java.vm-name=${java.vm.name}
# info.env.java.runtime-version=${java.runtime.version}
